<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="rjfsdo.sharoncn.android.BDQN.LeisureLife"
    android:versionCode="1"
    android:versionName="1.0.1" >

    <uses-sdk android:minSdkVersion="9" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCES_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_GPS" />

    <instrumentation
        android:name="android.test.InstrumentationTestRunner"
        android:targetPackage="rjfsdo.sharoncn.android.BDQN.LeisureLife" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        <uses-library android:name="android.test.runner" />

        <activity
            android:label="@string/app_name"
            android:name=".TabMainActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".LoadingActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".ConcertActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".MusicActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".PlayActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".PkoActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".SeeShowActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".WatchMovieActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".AboutActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".CollectionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".CommentActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".DelicaciesDetail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".MovieDetail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".DisplayDetail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".HelpActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".HomeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".MoreActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".QuestionActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".RecommendActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="@string/register"
            android:name=".RegActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".SeeDisplayActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".TabMovieActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".WillMovieActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".MovieActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".FindDelicacies"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".ShowDetail"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".MapActivity"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name=".Service.DataService" >
            <intent-filter >
                <action android:name="rjfsdo.sharoncn.android.BDQN.LeisureLife.Service.DataService" />
            </intent-filter>
        </service>
        <!-- baiduLocation service -->
        <service
            android:enabled="true"
            android:name="com.baidu.location.f"
            android:permission="android.permission.BAIDU_LOCATION_SERVICE"
            android:process=":remote" >
            <intent-filter >
                <action android:name="com.baidu.location.service_v2.3" >
                </action>
            </intent-filter>
        </service>
        <!-- Test -->
        <activity
            android:label="@string/app_name"
            android:name=".Test.TestAct"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:label="@string/app_name"
            android:name=".Test.TestFoodShowcase"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>